/* Shrinking the sidebar from 250px to 80px and center aligining its content*/



@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }
}




/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

html { background-color: #f0f3f4; }
body, html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    line-height: 1.53846154;
    background: url("../images/bedge_grunge_light.jpg") repeat;
}
:focus { outline: 0 none !important; }
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color:#272727
}
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
p, blockquote { margin: 20px 0; }
strong { font-weight: 600; }
a {
    /*color: #363f44;*/
    cursor: pointer;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    text-decoration: none;
}
a:hover, a:focus {
    color: #141719;
    text-decoration: none !important;
}
label { font-weight: normal; }
small, .small { font-size: 13px; }
ul { padding-left:0; }
.container { /* max-width: 1000px; */ }
/* Header */  
.navbar {
    border-radous:0;
    border:0;
    margin:0;
}

/*** Brand logo ***/

.brand {
    width: 200px;
    height: 90px;
}
.brand a { display:block }
.brand, .header-inner .main-nav {
    display: table-cell;
    vertical-align: middle;
}
/*** Main Nav Menu ***/
.main-nav {
    text-align: right;
    white-space: nowrap;
    padding: 0 0 0 30px;
    width:100%;
}
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav .sf-menu li { position: relative; }
.main-nav .sf-menu li:hover, .sf-menu li.sfHover {
    -webkit-transition: none;
    transition: none;
}
.main-nav .sf-menu li a {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 90px;
    padding: 0 15px;
    position: relative;
    text-transform: capitalize;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul { padding-right: 2.5em; *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}

.header-inner .toggle-subarrow { display: none; }
 @media (min-width: 768px) {
 .header-inner #toggle-btn {
 display: none;
}
}
 @media (max-width: 768px) {
 .navbar-brand {
 display: block;
}
 .navbar {
 max-height: none;
}
.main-nav {
 margin-top: 10px;
 height: auto;
}
.sf-menu > li {
 float: none;
}
.sf-menu li a {
 padding: 10px 13px;
 font-weight: 400;
}
 .sf-menu li a:hover, .sf-menu li.sfHover a:hover {
 color: #c44741;
}
 .sf-menu ul {
 font-size: 14px;
 display: block;
 position: static !important;
 border: 0;
 box-shadow: 0 0 0 0;
 -moz-box-shadow: 0 0 0 0;
 -webkit-box-shadow: 0 0 0 0;
}
}
 @media only screen and (max-width: 768px) {
 .header-inner .main-nav {
 display: block;
 margin: 0;
}
 #toggle-btn {
 display: block;
}


 .sf-menu {
 display: none;
}
 .main-nav .sf-menu {
 margin: 0 -15px;
}

 .main-nav .sf-menu ul {
border: none;
}
 .main-nav .sf-menu ul li {
 width: 100%;
 margin-left: 30px;
 font-size: 13px;
 line-height: 16px;
 font-weight: 400;
 position: relative;
 border:none;
 border-top: 1px solid #e8e8e8;
}

 .mob-drop ul {
 display: block!important;
}
   @media(min-width: 601px) and (max-width: 780px) {
.top-line .container {
 max-width:70%;
}
 .top-line p span {
 display: table;
 margin-right: 20px;
 text-align: left;
}
}



.header-inner {
    width: 100%;
    position: reltive;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: a;
}
